# dependencies
/node_modules/
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# local env files
.env
.env.local
.env.production
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# OS files
.DS_Store
Thumbs.db

# prisma local dev db sqlite (if any)
/*.db
/*.db-journal

# uploads
/public/uploads/*
!/public/uploads/.gitkeep
!/public/uploads/products/
/public/uploads/products/*
!/public/uploads/products/.gitkeep
